<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Compra confirmada</title>
</head>
<body>
<h1>Compra realizada</h1>

<p>Gracias por su compra, <span th:text="${compra.nombreComprador}"></span>!</p>
<p>Email: <span th:text="${compra.emailComprador}"></span></p>
<p>Evento: <span th:text="${evento.nombre}"></span></p>
<p>Zona: <span th:text="${compra.zona}"></span></p>
<p>Entradas: <span th:text="${compra.numeroEntradas}"></span></p>
<p>Precio unitario: <span th:text="${compra.precioUnitario}"></span></p>
<p>Precio total: <span th:text="${compra.precioTotal}"></span></p>


<form th:action="@{/eventos/paso3}" method="get" style="display:inline">
    <button type="submit">Anterior</button>
</form>
</body>
</html>
